.page-body {
  max-width: 90vw;
  width: 60em;
  margin: 5vh auto 5vh;
}

.clickable {
  cursor: pointer;
}

.breakall {
  word-break: break-all;
}

.spacer {
  width: 0.5em;
  height: 0.5em;
}

.readme-header {
  /* height: 2em; */
}

.todo-component {
  height: 30vh;
}

.todo-header {
  height: 2em;
}

.todo-footer {
  height: 2.5em;
}

.performance-input {
  width: 3em;
}
