/********
 * View *
 ********/

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  width: 100vh;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-0 {
  padding: 0;
}

.mp-0 {
  margin: 0;
  padding: 0;
}

/***********
 * Display *
 ***********/

.d-grid {
  display: grid;
}

/* justify-items */
.ji-start {
  justify-items: start;
}

.ji-centre {
  justify-items: center;
}

.ji-end {
  justify-items: end;
}
/* justify-items */

/* align-items */
.ai-start {
  align-items: start;
}

.ai-centre {
  align-items: center;
}

.ai-end {
  align-items: end;
}
/* align-items */

/* justify-content */
.jc-start {
  justify-content: start;
}

.jc-centre {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}
/* justify-content */

/* align-content */
.ac-start {
  align-content: start;
}

.ac-centre {
  align-content: center;
}

.ac-end {
  align-content: end;
}
/* align-content */

.hidden {
  display: none !important;
}

/**********
 * Border *
 **********/

.border-thin {
  border-style: solid;
  border-width: thin;
}

.border-circle {
  border-radius: 50%;
}

/********
 * Text *
 ********/

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-centre {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

/*********
 * Mouse *
 *********/

.pointer {
  cursor: pointer;
}

/*********
 * Image *
 *********/

.img-responsive {
  max-width: 100%;
  height: auto;
}
