@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "../../node_modules/cda/dist/entry.css";

:root {
  --light-grey: rgb(240, 242, 244);
  --dark-grey: #e9ecef;
  --border-colour: rgba(0, 0, 0, 0.125);
  --border-corner: 0.5em;
}

#container {
  $max_width: 60em;
  $padding_top: 3em;
  $col_gap: 3em;

  max-width: $max_width;
  padding-top: $padding_top;
  row-gap: $col_gap;

  > header {
    $padding_v: 2em;
    padding-top: $padding_v;
    padding-bottom: $padding_v;

    background-color: var(--dark-grey);
  }

  > main {
    $row_gap: 2em;
    row-gap: $row_gap;

    #readme {
      #readme-header {
        $padding_v: 0.3em;
        padding-top: $padding_v;
        padding-bottom: $padding_v;

        background-color: var(--light-grey);
      }

      #readme-body {
        $padding_v: 0.3em;
        padding-top: $padding_v;
      }

      li,
      p {
        > * {
          &::before,
          &::after {
            content: " ";
          }
        }
      }
    }

    #benchmark-control {
      grid-template-columns: 1fr auto;

      $grid_gap: 0.2em;
      row-gap: $grid_gap;

      #benchmark-title {
        grid-area: title;
      }
      #benchmark-input {
        grid-area: input;
      }
      .benchmark-output {
        grid-area: output;
      }

      grid-template-areas:
        "title title"
        "input output";
    }

    .todo {
      ol {
        list-style-type: none;
        > li {
          display: list-item;
        }
      }
    }
  }
}

.mainly-padded {
  $padding_h: 1.5em;
  padding-left: $padding_h;
  padding-right: $padding_h;
}

.lightly-bordered {
  border-style: solid;
  border-width: thin;
  border-radius: var(--border-corner);
  border-color: var(--border-colour);
}
