@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "../../node_modules/cda/dist/entry.css";

:root {
  --light-grey: rgb(240, 242, 244);
  --dark-grey: #e9ecef;
  --slight-grey: rgba(0, 0, 0, 0.03);
  --border-colour: rgba(0, 0, 0, 0.125);
  --border-corner: 0.5em;
  --background-white: white;
}

body {
  $padding_h: 1em;
  padding-left: $padding_h;
  padding-right: $padding_h;

  max-width: 100vw;
}

#container {
  $max_width: 60em;
  max-width: $max_width;

  > header {
    background-color: var(--dark-grey);
  }

  > main {
    #readme {
      #readme-header {
        background-color: var(--light-grey);
      }

      li,
      p {
        > * {
          &::before,
          &::after {
            content: " ";
          }
        }
      }
    }

    #benchmark-control {
      grid-template-columns: 1fr auto;

      #benchmark-title {
        grid-area: title;
      }
      #benchmark-input {
        grid-area: input;
      }
      .benchmark-output {
        grid-area: output;
        text-align: right;
      }

      grid-template-areas:
        "title title"
        "input output";
    }

    .todo {
      .todo-select > button {
        > * {
          font-weight: 500;
        }

        $radius: 0.5em;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        border-color: transparent;
        border-bottom: none;

        &.active {
          cursor: initial;
          background-color: var(--background-white);
        }
      }

      .todo-listing {
        background-color: var(--background-white);

        ol {
          list-style-type: none;
          padding-left: 0.5em;
          > li {
            border-color: var(--border-colour);

            &:first-child {
              border: none;
            }

            .todo-message {
              > i {
                &::after {
                  content: " ";
                  display: inline-block;
                  width: 0.5em;
                }
              }
            }
          }
        }
      }

      background-color: var(--slight-grey);
    }
  }
}

button {
  background-color: unset;
  &:active,
  &:hover,
  &:focus {
    outline: none;
  }
}

ul {
  padding-left: 1.5em;
}

.lightly-bordered {
  border-style: solid;
  border-width: thin;
  border-radius: var(--border-corner);
  border-color: var(--border-colour);
}
