@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "../../node_modules/cda/dist/entry.css";

:root {
  --light-grey: rgb(240, 242, 244);
  --dark-grey: #e9ecef;
  --border-colour: rgba(0, 0, 0, 0.125);
  --border-corner: 0.5em;
}

#container {
  $max_width: 60em;
  $padding_top: 3em;
  $col_gap: 3em;

  max-width: $max_width;
  padding-top: $padding_top;
  row-gap: $col_gap;

  > header {
    $padding_v: 2em;
    padding-top: $padding_v;
    padding-bottom: $padding_v;

    border-radius: var(--border-corner);
    background-color: var(--dark-grey);
  }

  > main {
    $row_gap: 2em;
    row-gap: $row_gap;

    #readme {
      $padding_h: 1.5em;

      border-radius: var(--border-corner);
      border-color: var(--border-colour);

      #readme-header {
        $padding_v: 0.3em;
        padding-top: $padding_v;
        padding-bottom: $padding_v;

        padding-left: $padding_h;
        padding-right: $padding_h;

        border-bottom: thin;
        border-color: var(--border-colour);
        background-color: var(--light-grey);
      }

      #readme-body {
        $padding_v: 0.3em;
        padding-top: $padding_v;

        padding-left: $padding_h;
        padding-right: $padding_h;
      }

      li,
      p {
        > * {
          &::before,
          &::after {
            content: " ";
          }
        }
      }
    }

    #benchmark-control {
    }

    .todo {
      ol {
        list-style-type: none;
        > li {
          display: list-item;
        }
      }
    }
  }
}
