@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.css";
@import "../../node_modules/cda/dist/entry.css";

:root {
  --light-grey: rgb(240, 242, 244);
  --dark-grey: #e9ecef;
  --slight-grey: rgba(0, 0, 0, 0.03);
  --border-colour: rgba(0, 0, 0, 0.125);
  --border-corner: 0.5em;
  --background-white: white;
}

$main_padding_h: 1.5em;

@mixin mainly_padded() {
  padding-left: $main_padding_h;
  padding-right: $main_padding_h;
}

body {
  $padding_h: 1em;
  padding-left: $padding_h;
  padding-right: $padding_h;
}

#container {
  $max_width: 60em;
  max-width: $max_width;

  > * {
    max-width: 100vw;
  }

  $padding_top: 3em;
  $col_gap: 3em;

  padding-top: $padding_top;
  row-gap: $col_gap;

  > header {
    $padding_v: 2em;
    padding-top: $padding_v;
    padding-bottom: $padding_v;

    background-color: var(--dark-grey);
  }

  > main {
    $row_gap: 2em;
    row-gap: $row_gap;

    #readme {
      #readme-header {
        $padding_v: 0.3em;
        padding-top: $padding_v;
        padding-bottom: $padding_v;

        background-color: var(--light-grey);
      }

      #readme-body {
        $padding_v: 0.3em;
        padding-top: $padding_v;
      }

      li,
      p {
        > * {
          &::before,
          &::after {
            content: " ";
          }
        }
      }
    }

    #benchmark-control {
      grid-template-columns: 1fr auto;

      $col_gap: 1em;
      $row_gap: 0.2em;
      row-gap: $row_gap;
      column-gap: $col_gap;

      #benchmark-title {
        grid-area: title;
      }
      #benchmark-input {
        grid-area: input;
      }
      .benchmark-output {
        grid-area: output;
        text-align: right;
      }

      grid-template-areas:
        "title title"
        "input output";
    }

    .todo {
      > * {
        @include mainly_padded();
      }

      .todo-select > button {
        border-color: transparent;

        &.active {
          cursor: initial;
          background-color: var(--background-white);
        }
      }

      .todo-listing {
        background-color: var(--background-white);
      }

      background-color: var(--slight-grey);
    }

    .todo {
      .todo-listing {
        ol {
          list-style-type: none;
          padding-left: 0.5em;
          > li {
            .todo-message {
              > i {
                color: #0056b3;
                &::after {
                  content: " ";
                  display: inline-block;
                  width: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}

button {
  background-color: unset;
}

ul {
  padding-left: 1.5em;
}

.mainly-padded {
  @include mainly_padded();
}

.lightly-bordered {
  border-style: solid;
  border-width: thin;
  border-radius: var(--border-corner);
  border-color: var(--border-colour);
}

.lab-inp-btn {
  height: 2em;
  width: 100%;
  display: flex;

  > label {
  }
  > input {
    flex-shrink: 1;
    flex-grow: 1;
  }
  > button {
  }
}
