---

name: CI

on:
  push:
    branches: 
      - noact
  schedule:
    - cron: "0 0 * * *" # daily

jobs:

  release:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node.js
        uses: actions/setup-node@v1

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Packages
        run: npm install

      - name: Build Page
        env:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
        run: npm run ci
